<!DOCTYPE html>
<html>
<head>
  <title>Candl</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "candl/application", media: "all" %>
  <%= javascript_include_tag "candl/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
